<details>
    <summary id="techniques" class="head">Techniques</summary>
    <ul>
        <details>
            <summary id="techniques_hold">Hold</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="techniques_assess">Assess</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="techniques_trial">Trial</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="techniques_adopt">Adopt</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
    </ul>
</details>

<details>
    <summary id="tools" class="head">Tools</summary>
    <ul>
        <details>
            <summary id="tools_hold">Hold</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="tools_assess">Assess</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="tools_trial">Trial</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="tools_adopt">Adopt</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
    </ul>
</details>
<details>
    <summary id="platforms" class="head">Platforms</summary>
    <ul>
        <details>
            <summary id="platforms_hold">Hold</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="platforms_assess">Assess</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="platforms_trial">Trial</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="platforms_adopt">Adopt</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
    </ul>
</details>
<details>
    <summary id="languages" class="head">Languages &amp; Frameworks</summary>
    <ul>
        <details>
            <summary id="languages_hold">Hold</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="languages_assess">Assess</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="languages_trial">Trial</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
        <details>
            <summary id="languages_adopt">Adopt</summary>
            <ul>
                <li>Test-Eintrag 1</li>
                <li>Test-Eintrag 2</li>
                <li>Test-Eintrag 3</li>
                <li>Test-Eintrag 4</li>
                <li>Test-Eintrag 5</li>
            </ul>
        </details>
    </ul>
</details>