<br>
<div class="radar-large">
    <a href="#techniques"><img src="assets/img/radar11.png" alt="Radar" class="radar"></a><!-- top:-590px; left: 12px bis top: -140px; left: 465px -->
    <a href="#tools"><img src="assets/img/radar12.png" alt="Radar" class="radar"></a> <!-- top:-590px; left: 512px bis top: -140px; left: 945px  -->
    <img src="assets/img/text.png" alt="Text" class="text">
    <br>
    <a href="#platforms"><img src="assets/img/radar21.png" alt="Radar" class="radar"></a><!-- top:-25px; left: 12px bis top: 425px; left 465px -->
    <a href="#languages"><img src="assets/img/radar22.png" alt="Radar" class="radar"></a><!-- top:-25px; left: 512px bis top: 425px; left: 945px -->
    <div class="circle" style="top: -350px; left: 400px"><div class="number">1</div></div>
    <div class="circle" style="top: 100px; left: 300px"><div class="number">2</div></div>
    <div class="circle" style="top: 205px; left:605px"><div class="number">3</div></div>
</div>


<div class="radar-small">
    <div class="small-top">
        <a href="#techniques" class="small-left small-box">Techniques</a>
        <a href="#tools" class="small-right small-box">Tools</a>
    </div>
    <div class="small-down">
        <a href="#platforms" class="small-left small-box">Platforms</a>
        <a href="#languages" class="small-right small-box">Languages & Frameworks</a>
    </div>
</div>