<form class="form">
    <div class="form-group">
      <label>Name *</label> <input type="text" class="form-control" name="name" placeholder="Tech-Name" required="required">
    </div>
  
    <div class="form-group">
      <label>Kategorie</label> <select class="form-control" name="kategorie">
        <option value="techniques">
          Techniques
        </option>
  
        <option value="tools">
          Tools
        </option>
  
        <option value="platforms">
          Platforms
        </option>
  
        <option value="languages">
          Languages &amp; Frameworks
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Ring</label> <select class="form-control" name="ring">
        <option value="hold">
          Hold
        </option>
  
        <option value="assess">
          Assess
        </option>
  
        <option value="trial">
          Trial
        </option>
  
        <option value="adopt">
          Adopt
        </option>
      </select>
    </div>
  
    <div class="form-group">
      <label>Beschreibung Technologie *</label> <input type="text" class="form-control" name="beschreibung_technologie" placeholder="Beschreibung der Technologie" required="required">
    </div>
  
    <div class="form-group">
      <label>Beschreibung der Einordnung</label> <input type="text" class="form-control" name="beschreibung_einordnung" placeholder="Beschreibung der Einordnung">
    </div>
  
    <div class="form-group">
      <input type="submit" class="btn btn-primary" name="button" value="senden">
    </div><small>Felder markiert mit * sind Pflichtfelder.</small>
  </form>